@charset "utf-8";


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* h3, p {
    color: rgb(131, 207, 18);
} */
p {
    color: black;
}

.page_top{
    color: yellowgreen;
    margin-top: 24px;
}

.page_top:hover {
    text-decoration: underline;
}

.back_to_contact {
     color: green;
    margin-top: 16px;
}

.back_to_contact:hover {
      text-decoration: underline;
}